#banner {
    --min-height: 50vh;
    box-sizing: border-box;
    padding: 0px;
    color: white;

   background-size: cover;
   background-position: center;

    background-color: rgba(223, 223, 223, 0.72);
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner h1 {
    margin-bottom: 10px;
    font-size: 80px;
}
#banner h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}


#atencao{
    --background-color: rgba(253, 141, 124, 0.08) !important;
    background-image: linear-gradient( to bottom, #FFFFFF 2%, rgba(253, 141, 124, 0.08) );
}



#benvindo {
    min-height: 20vh;
    box-sizing: border-box;
    padding: 0px;
    color: white;

    background-size: cover;
    background-position: center;

    --background-color: rgba(223, 223, 223, 0.18);
    background-image: linear-gradient( to bottom, #FFFFFF 2%, rgba(223, 223, 223, 0.18) );
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#servico {
    --background-color: rgba(105, 105, 105, 0.06) !important;

    background-image: url("../img/flor.jpg");
    --background-size: 200%;
    background-position: left;
    --background-repeat: no-repeat;
    background-position-x: -250px;

    --background-blend-mode: multiply;
}

#dizendo {
    background-image: url("../img/home/home.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    --background-attachment: fixed;
}

#renata-franca{
    background-image: url("../img/home/home.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    --background-attachment: fixed;
}

#chamado {
    background-image: url("../img/home/home_banner05.jpg");
    background-size: 100%;
}

#contato {
    background-color: rgba(255, 255, 255, 0) !important;
}




#navbar{
    margin: 0;
    border-radius: 0;
}
section {
    box-sizing: border-box;
    padding: 20px 0 50px;
}
section:nth-child(odd){
    background-color: rgb(255, 255, 255);
}
section .title{
    display: inline-block;
    margin: 10px auto 40px;
    padding: 0 10px 5px;
    border-bottom: 3px solid #222222;
}

#sobre {
    background-color: #A82121;
}

#sobre .content{
    padding-top:20px;
}


#servico-corporal {
    --background-color: rgba(105, 105, 105, 0.06) !important;
    padding-top: 150px;
    background-image: linear-gradient( to top, #FFFFFF 70%, rgba(105, 105, 105, 0.06) );
}

#contate {
    padding-top: 150px;
    background-image: linear-gradient( to top, rgba(241, 238, 238, 0.07) 70%, rgba(105, 105, 105, 0.06) );
}

#informacao-contato {
    background-image: linear-gradient( to top, #FFFFFF 90%, rgba(105, 105, 105, 0.06) );
}


#local{
    padding-bottom: 0;
}
#local iframe{
    pointer-events: none;
    display: block;
}
#local iframe.active{
    pointer-events: auto;
}


footer{
    background-color: rgba(177, 141, 137, 0.14) !important;
    padding:20px;
    color: #616161 !important;
}
.footer-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px auto;
}

.link {
    background-color: rgba(97, 97, 97, 0.46) !important;
    border-radius: 10%;
}